@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #ddd !important;
    font-family: 'Poppins', sans-serif;
}
.footer1 {
    background: #ddd;
}
.footer2 {
    background: white;
}
.footerlinks {
    color: white;
    text-decoration: none !important;
}
.footerlinks:hover {
    color: #ffd800;
    text-decoration: none !important;
}

.bannertext {
    margin-top: 80px;
    font-weight: 600;
    font-size: 60px;
    transition: 1s;
}
.bannertext:hover {
    color: #f0bc5e;
    font-weight: 600;
    font-size: 60px;
}
.homebanner {
    background: #cbfadb;
    padding: 30px;
}
/*rgba(0, 0, 0, 0.82)*/
.abc {
    background-color: #16478c
}
.card {
    background-color: white !important;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: white;
}
@media screen and (max-width: 770px) {
    .homebanner {
        background: white;
    }
    .bannertext {
        margin-top: 0;
    }
    .bannertext2 {
        display: none;
    }
}
.foot {
    background: #ff5f6d;

  
}

#button-addon1 {
    color: #ffc371;
}

i {
    color: #ffc371;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.body-content{
    min-height: 100vh;

}
/*about us*/


